.header {
  background-image: url(../assets/images/bg-headeroscuro.jpg);
  background-size: cover; }

header .navbar ul li {
  text-decoration: none; }
  header .navbar ul li a {
    font-family: 'code';
    font-size: 15px; }

header .container .row .col .titulo {
  color: white;
  font-family: "princfont";
  margin-top: 70px;
  text-align: center; }

main .container .frase {
  text-align: center;
  color: black;
  font-family: "princfont";
  margin-bottom: 20px; }

main .container .row .col-6 .proyectos {
  font-family: "princfont";
  color: #e0970f;
  margin-top: 20px; }

main .container .row .col-6 img {
  height: 400px; }

main .row .col-12 .carousel-inner .carousel-item img {
  height: 500px;
  margin-bottom: 50px; }

@font-face {
  font-family: "princfont";
  src: url(../assets/fonts/Roboto-Thin.ttf); }

@font-face {
  font-family: 'caveat';
  src: url(../assets/fonts/Caveat-VariableFont_wght.ttf); }

@font-face {
  font-family: 'coming';
  src: url(../assets/fonts/ComingSoon-Regular.ttf); }

@font-face {
  font-family: 'nothing';
  src: url(../assets/fonts/NothingYouCouldDo-Regular.ttf); }

@font-face {
  font-family: 'swanky';
  src: url(../assets/fonts/SwankyandMooMoo-Regular.ttf); }

@font-face {
  font-family: 'code';
  src: url(../assets/fonts/SourceCodePro-VariableFont_wght.ttf); }

@media only screen and (max-width: 767px) {
  main .carousel-item {
    height: auto; } }
