.header {
    background-image: url(../assets/images/header2.jpg);
    background-size: cover;
    
    margin: 0 !important;
    padding: 0 !important;
    
    
    
}


header {
    .navbar {
        ul {
            li {
                text-decoration: none;
                a {
                    font-family: 'code';
                    font-size: 15px;
                }
            }
        }
    }

}

header {
    .container {
        .row {
            .col {
                .titulo { 
                    color: white;
                    font-family: "princfont";
                    margin-top: 70px;
                    text-align: center;
                }
            }
        }
    }
}

header {
    .container-fluid {
        margin: 0% !important;
        padding: 0% !important;
    }
}

header {
    .container-fluid {
        .wave {
            margin-top: 0% !important;
            margin: 0% !important;
            padding: 0% !important;
        }
    }
}







