main {
    .container {
        .frase {
            text-align: center;
            color: $colorprincipal;
            font-family: $fuente;
            margin-bottom: 20px;
        }
    }
}

main {
    .container {
        .row {
            .col-6 {
                .proyectos {
                    font-family: $fuente;
                    color: rgb(224, 151, 15);
                    margin-top: 20px;
                
                }
            }
        }
    }
}
    

main {
    .container {
        .row{
            .col-6 img {
                height: 400px;
            
            }
        }
    }
}


main {
    .row {
        .col img {
          height: 350px;
          width: 350px;
        }
    }
}

main {
    .row {
        .col {
            .fecha {
                font-family: $fuente;
            }
        }
    }
}

main {
    .row {
        .col {
            .titulo {
                font-family: $fuente;
                color: rgb(224, 151, 15);
            }
        }
    }
}

main {
    .row {
        .col {
            .texto {
                font-family: $fuente;
                color: $colorprincipal;
            }
        }
    }
}

main {
    .row {
        .col {
            .btn {
                font-family: $fuente;
            }
        }
    }
}


main {
    .container {
        .eslogan {
            font-family: $fuente;
            color: $colorprincipal;
            text-align: center;
            
        }
    }
}

