$vista:mobile;

main {
    @if $vista == desktop{
       @media only screen and (min-width:1024px) {
            .carousel-item {
                 height: 500px;
                }
            }
        }

    @else if $vista == mobile {
         @media only screen and (max-width:767px) {
          .carousel-item {
               height: 200px !important;
            }
            .fecha {
                text-align: center;
            }
            .titulo {
                text-align: center;
            }
            .texto {
                display: none;
            }

            .col img {
                max-width: 100%;
                max-height: 300px;
            }
        }
    }
}




